<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>MATLAB</string>
		<key>color</key>
		<string>eb3027</string>
	</dict>
	<dict>
		<key>title</key>
		<string>JavaScript</string>
		<key>color</key>
		<string>22b6ff</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Java</string>
		<key>color</key>
		<string>51b20a</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swift</string>
		<key>color</key>
		<string>897be2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Java</string>
		<key>color</key>
		<string>eb3027</string>
	</dict>
	<dict>
		<key>title</key>
		<string>C</string>
		<key>color</key>
		<string>fa4040</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Java</string>
		<key>color</key>
		<string>eb3027</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Go</string>
		<key>color</key>
		<string>22b6ff</string>
	</dict>
	<dict>
		<key>title</key>
		<string>C++</string>
		<key>color</key>
		<string>51b20a</string>
	</dict>
	<dict>
		<key>title</key>
		<string>PHP</string>
		<key>color</key>
		<string>897be2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swift</string>
		<key>color</key>
		<string>fa4040</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Python</string>
		<key>color</key>
		<string>eb3027</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Objective-C</string>
		<key>color</key>
		<string>fa4040</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Java</string>
		<key>color</key>
		<string>22b6ff</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Objective-C</string>
		<key>color</key>
		<string>fd563b</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Swift</string>
		<key>color</key>
		<string>51b20a</string>
	</dict>
	<dict>
		<key>title</key>
		<string>C</string>
		<key>color</key>
		<string>897be2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>C++</string>
		<key>color</key>
		<string>fa4040</string>
	</dict>
	<dict>
		<key>title</key>
		<string>C#</string>
		<key>color</key>
		<string>B1B1B1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Perl</string>
		<key>color</key>
		<string>787878</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Go</string>
		<key>color</key>
		<string>3E3D3D</string>
	</dict>
	<dict>
		<key>title</key>
		<string>JavaScript</string>
		<key>color</key>
		<string>CC6600</string>
	</dict>
	<dict>
		<key>title</key>
		<string>R</string>
		<key>color</key>
		<string>CCFF00</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Ruby</string>
		<key>color</key>
		<string>EDEBEA</string>
	</dict>
	<dict>
		<key>title</key>
		<string>MATLAB</string>
		<key>color</key>
		<string>989799</string>
	</dict>
	<dict>
		<key>title</key>
		<string>PHP</string>
		<key>color</key>
		<string>69A5EC</string>
	</dict>
</array>
</plist>
